<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %> </title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="wrapper">
            <h1 class="title">Weather APP</h1>
            <h3><%= timezone%></h3>
            <p class="hourly_summary"><%= hourly.summary %></p>

    </div>
             
</body>
</html>